<div class="header">
  <h1>POLL-SPACE</h1>
</div>
<div class="page-container">
  <div class="dashboard">
    <div class="dashboard-top">
      <h2>ユーザー名</h2>
    </div>
    <div class="dashboard-main">
      <div class="user-info">
        <img class="user-info__img" src="https://ai-catcher.com/wp-content/uploads/icon_74-1.png">
        <div class="user-info__count">
          <div class="post-themes-count">投票可能回数</div>
          <div class="post-poll-count">投票回数</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content-top">
      <h2>投票</h2>
      <a class="main-content-top__post-theme-button">
      </a>
    </div>
    <div class="main-content-board">
      <div class="stream">
      </div>
    </div>
  </div>
</div>
