<div class="header">
  <h1>POLL-SPACE</h1>
</div>
<div class="page-container">
  <div class="dashboard">
    <div class="dashboard-top">
      <h2>User</h2>
    </div>
    <div class="dashboard-main">
      <div class="color-bar">
        <div class="color-bar__user-name">
          ユーザ名
        </div>
      </div>
      <div class="user-info">
        <img class="user-info__img" src="https://ai-catcher.com/wp-content/uploads/icon_74-1.png">
        <ul class="user-info__count">
          <li class="count-status">
            <div class="count-status__name">
              投票回数
            </div>
            <div class="count-status__value">
              10
            </div>
          </li>
          <li class="count-status">
            <div class="count-status__name">
              投票回数
            </div>
            <div class="count-status__value">
              10
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content-top">
      <h2>Poll</h2>
      <a class="main-content-top__post-theme-button">
      </a>
    </div>
    <div class="main-content-board">
      <div class="stream">
        <div class="theme-card">
          <div class="theme-card__theme">テーマ</div>
          <div class="theme-card__user">
            <img src="https://ai-catcher.com/wp-content/uploads/icon_74-1.png">
            <p>nickname</p>
          </div>
        </div>
      </div>
      <div class="testred"></div>
      <div class="testyellow"></div>
    </div>
  </div>
</div>
