<div class="page-container">
  <div class="contents-container">
    <div class="dashboard">
      <div class="dashboard-top">
        <h2>User</h2>
      </div>
      <div class="dashboard-main">
        <div class="color-bar">
          <div class="color-bar__user-name">
            ユーザ名
          </div>
        </div>
        <div class="user-info">
          <img class="user-info__img" src="https://ai-catcher.com/wp-content/uploads/icon_74-1.png">
          <ul class="user-info__count">
            <li class="count-status">
              <div class="count-status__name">
                投票開設回数
              </div>
              <div class="count-status__value">
                10
              </div>
            </li>
            <li class="count-status">
              <div class="count-status__name">
                投票回数
              </div>
              <div class="count-status__value">
                10
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="main-content-top">
        <h2>Poll</h2>
        <%= link_to new_theme_path, class:"main-content-top__post-theme-button" do%>
          <span>テーマを投稿</span>
        <% end %>
      </div>
      <div class="main-content-board">
        <div class="stream">
          <% @themes.each do |theme| %>
            <div class="theme-card">
              <ul class="theme-card__img-box">
                <% theme.groups.each do |group| %>
                  <li>
                    <%= image_tag(group.image) if group.image %>
                  </li>
                <% end %>
              </ul>
              <div class="theme-card__title">
                <div class="theme-detail">
                  <div class="theme-detail__title"><%= theme.name %></div>
                </div>
              </div>
              <div class="theme-card__user">
                <img src="https://ai-catcher.com/wp-content/uploads/icon_74-1.png">
                <p>nickname</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
