
<div class="theme-create-form">
  <div class="theme-title">
    投票テーマ作成
  </div>
  <form>
    <input type="text" name="" class="theme-create-form__input-theme-name" placeholder="投票テーマを入力してください。">
    <div class="input-group-boards">
      <div class="input-group-board">
        <input type="text" name="" class="theme-create-form__input-group-name" placeholder="回答1">
        <textarea class="theme-create-form__input-grpup-message" placeholder="めっせーじ"></textarea>
        <input type="file">
      </div>
      <div class="input-group-board"></div>
    </div>
  </form>
</div>

