<div class="theme-title">
  title
</div>
<div class="page-container">

  <ul class="group-boards">
    <li class="group-board">
      <div class="group-board-top">
        <div class="group-detail">
          タイトル
        </div>
      </div>
    </li>
    <li class="group-board">
      <div class="group-board-top">
        <div class="group-detail">
          タイトル
        </div>
      </div>
    </li>
  </ul>
</div>
