@mixin group-boards-setting{
  // background-color: red;
  width:  1060px;
  margin-top: 50px;
  // height: 2000px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin group-board-setting{
  width: 48%;
  // margin: 0 30px;
  box-shadow: 1px 1px 2px;
  background-color: white;
}

@mixin sm-user-name-setting{
  display: flex;
  align-items: center;
  padding: 5px 5px;

  img{
    width: 40px;
    height: 40px;
  }
  p{
  }
}
