.theme-title{
  width: 920px;
  background-color: yellow;
  margin: 20px auto 0;
  height: 100px;

}
.group-boards{
  // background-color: red;
  width:  1050px;
  height: 2000px;

  display: flex;
  justify-content: center;
}


}
