.theme-title{
  width: 920px;
  background-color: yellow;
  margin: 20px auto 0;
  height: 100px;

}
.group-boards{
  // background-color: red;
  width:  1050px;
  height: 2000px;

  display: flex;
  justify-content: center;
}

.group-board{
  width: 500px;
  height: 500px;
  margin: 0 30px;
  box-shadow: 1px 1px 2px;
  .group-board-top{
    background: url("https://www.pakutaso.com/shared/img/thumb/KAZTDSCF7026_TP_V.jpg");
    background-size:cover;
    .group-detail{
      height: 300px;
      padding: 10px 10px;
      background-color: rgba(#8E8E8E, 0.8);
      color: white;
      box-sizing: border-box;
      font-size: 1.2rem;
      &__bar-graph{
         margin-top: 170px;
        .bar{
          background: linear-gradient(#0C0, #090);
          border: solid 1px white;
          width: 70%;
          height: 30px;
          position: relative;
          .score{
            font-size: 2rem;
            position: absolute;
            right: 0px;
            bottom: -23px;
          }
        }
      }
    }
  }
  .group-board-bottom{
    .comments{
      padding: 20px;
      .comment{
        height: 100px;
        background-color: #C8EFEA;
        border-radius: 10px;
        padding: 20px;

        position: relative;
        &__user{
          display: flex;
          align-items: center;
          padding: 5px 5px;
          position: absolute;
          right: 20px;
          bottom: 0;
          img{
            width: 40px;
            height: 40px;
          }
          p{
          }
        }
      }
    }
  }
}
