// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.5rem;
}

.header{
  background-color: green;
  height: 40px;
}

.page-container{
  display:         flex;
  justify-content: center;
  margin: 30px auto;
  .dashboard{
    width: 400px;
    .dashboard-main{
      height: 1000px;
      padding: 30px 20px;
      background-color: red;
    }
  }
  .main-content{
    width: 700px;
    .main-content-board{
      height: 1000px;
      padding: 30px;
      background-color: blue;
    }
  }
}

.user-info{
  display: flex;
  background-color: white;
  &__img{
    width: 100px;
    height: 100px;
    border: 1px solid black;

  }
  &__count{
    width: 250px;
    height: 100px;

  }

}

.theme-card{
  border: solid 1px green;
  padding: 15px;
  .theme-card__theme{
    border-bottom: solid 1px green;
  }
  &__user{
    display: flex;
    align-items: center;
    img{
      width: 40px;
      height: 40px;
    }
    p{
    }
  }
}
