$mainColor: #23AC0E;
$supportColor: #EBEDED;


$headerAccent: #5EC84E;
$topBackground: $supportColor;
$userDashboard: #5EC84E;

$buttonAccentColor: $mainColor;
// $buttonFloatColor


$basePageWidth: 1060px;
$groupBoardTopHeight: 300px;
