.theme-create-form{
  margin: 0 auto;
  width: $basePageWidth;
  // background-color: white;
  height: 1000px;
  &__input-theme-name{
    margin-top: 20px;
    width: 100%;
    height: 50px;
  }
  &__input-group-name{
    width: 60%;
    height: 50px;
  }
  &__input-grpup-message{
    width: 90%;
    height: 70px;
  }
}

.input-group-boards{
  @include group-boards-setting();
}

.input-group-board{
  height: $groupBoardTopHeight;
  @include group-board-setting();
}
